<nav class="navBar">
  <ul class="navItens">
    <li class="navIten"
      routerLink=""
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{exact:true}">
      <a>INICIO</a></li>
    <li class="navIten"
      routerLink="cardapio"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{exact:true}">
      <a>CARDAPIO</a>
    </li>
    <li class="navIten"
      routerLink="contato"
      [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{exact:true}"><a>CONTATO</a>
    </li>
  </ul>
</nav>
